/* 
  NOTES:

*/

:root {
  /* Site colors */
  /* body background*/
  --body-background-color: #bfdcee;

  /* header background */
  --header-background-color: #4682a9;

  /* wrapper background */
  --Wrapper-background-color: #aedefc;

  /* darker grey*/
  --dark-grey: #333333;

  /* light grey accent */
  --light-grey: #b1b0b0;

  /* lighter grey */
  --lighter-grey: #b2b2b2;

  /* White color used */
  --white-color: #f6f6f6;

  /* link color */
  --lightblue-link: #0066ff;

  --accent1: #;
  --accent2: #;
  --accent3: #;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #080808;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--header-background-color);
  border-bottom: 1px solid aliceblue;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px, rgba(0, 0, 0, 0.23) 0px 1px 6px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.logo > h1 {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.logo > h1 > a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0%;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  position: relative;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}
/* 
  Hover effect for ^ .navbar-links a
*/
.navbar-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--lighter-grey);
  transition: width 0.3s ease, right 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
  left: 0;
}

.navbar-links a.active::after {
  width: 100%;
  left: 0;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 21px;
  width: 30px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;

  background-color: var(--white-color);
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--Wrapper-background-color);
}

#home {
  display: flex;
  border-bottom: 1px solid aliceblue;
}

#home .welcome-message {
  max-height: 500px;
  margin: auto;
}

.section-title {
  color: var(--white-color);
  font-weight: 100;
  font-size: 2.25rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
  /* text-shadow: 1px 2px 2px rgba(105, 105, 105, 0.3); */
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.section-title::before {
  content: "";
  position: absolute;
  border: 4px solid var(--light-grey);
  width: 40%;
  height: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.section-title::after {
  content: "";
  position: absolute;
  border: 4px solid var(--light-grey);
  width: 40%;
  height: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;

  right: 0;
}


/* This will set the paragraphs of each section message */
.message-paragraphs {
  max-width: 500px;
  line-height: 1.6;
  font-weight: 400;
}

.welcome-message .small-details {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px 0px;
}

.small-details p {
  font-weight: 800;
  color: var(--dark-grey);
  font-size: 18px;
  font-weight: 600;
}

.small-details p:nth-child(2),
p:nth-child(4) {
  border-left: 4px solid #f6f6f6;
}

#home .welcome-image {
  margin: auto;
  position: relative;
  display: inline-block;
}

.welcome-image img {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  width: 200px;
  border-radius: 2px;
}

.welcome-image::before,
.welcome-image::after {
  content: "";
  position: absolute;
  border: 5px solid var(--light-grey);
  width: 50%;
  height: 50%;
}

.welcome-image::before {
  top: -15px;
  left: -15px;
  border-right: none;
  border-bottom: none;
}

.welcome-image::after {
  bottom: -10px;
  right: -15px;
  border-left: none;
  border-top: none;
}

#about {
  display: flex;
  border-bottom: 1px solid aliceblue;
}

.about-img-and-socials {
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 90px;
  margin: 150px auto;
}

.about-img-and-socials img {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 2px;
}

.about-section-socials {
  align-self: center;
  justify-self: center;
  margin-top: 10px;
}
.about-section-socials a {
  text-decoration: none;
}

.about-section-socials button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 24px;
  color: var(--dark-grey);
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.about-section-socials button:hover {
  transform: translate(-2px,1px);
  text-shadow: 1px 2px 2px rgba(105, 105, 105, 0.3);
}

.about-message {
  /* border: 1px solid purple; */
  margin: auto auto 20px auto;
}

.about-skills ul li {
  font-weight: 400;
  line-height: 1.6;
  list-style: circle;
}

.about-experience ul li {
  font-weight: 400;
  line-height: 1.6;
  list-style: circle;
}

.about-experience ul li:nth-child(1)::after {
  content: " Current 2024";
  font-size: 12px;
}

.about-experience ul li:nth-child(2)::after {
  content: " 2023";
  font-size: 12px;
}

.about-section-sub-title {
  color: var(--dark-grey);
  font-weight: 600;
}

.about-cta p a {
  color: var(--lightblue-link);
  font-weight: 500;
  text-decoration: none;
}

/* projects section */
#projects {
  padding: 0 110px;
  border-bottom: 1px solid aliceblue;
  margin-top: 10px;
}

.projects-message {
  display: flex;
}

.projects-message .section-title {
  margin: 20px auto;
}

.projects-subtitle {
  color: var(--dark-grey);
  font-weight: 600;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 55px 0;
  gap: 30px;
}

.personal-projects,
.class-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-projects-tiles,
.class-projects-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 20px;
}

.project-tile {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px,
    rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 2px;
}

.project-tile img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.project-info {
  padding: 15px;
  text-align: center;
}

.project-info h4 {
  margin: 5px 0;
  color: var(--dark-grey);
  font-size: 1.2rem;
}

.project-info p {
  font-size: 0.9rem;
  color: var(--dark-grey);
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 5px;
  background-color: #4682a9;
  color: var(--white-color);
  border-radius: 5px;
  text-decoration: none;
}

.project-link:hover {
  background-color: #185a8a;
}


.project-tile:hover {
  transform: translateY(-7px);
}

/* contact section */
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.contacts-container{
  display: flex;
  flex-direction: column;
}

.contact-email a{
  color: var(--lightblue-link);
  text-decoration: none;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(125, 124, 124, 0.603);
}



.contact-email{
  transition: transform 0.3s ease;
}

.contact-email:hover{
  transform: scale(0.90);
}

.contact-socials{
  display: flex;
  margin: 10px 0;
}

.contact-socials a{
  margin: auto;
}

.contact-socials button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 24px;
  color: var(--dark-grey);
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.contact-socials button:hover{
  transform: translate(-2px,1px);
  text-shadow: 1px 2px 2px rgba(105, 105, 105, 0.3);
}


/* footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background-color);
  border-top: 1px solid aliceblue;
}



/* ipad size */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: var(--header-background-color);
    width: 100%;
    position: absolute;
    top: 85px; /* Adjust based on your header height */
    left: 0;
    padding: 0;
  }

  .navbar-links.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-links li a {
    font-size: 16px;
  }

  .toggle-button {
    display: flex;
    margin-left: auto; /* Pushes the toggle button to the right */
  }

  .navbar-links li {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  /* Home section */
  #home {
    display: flex;
    flex-direction: column;
    height: 720px;
  }

  .welcome-message {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 2rem;
    margin: auto auto 20px auto;
  }

  .welcome-image img {
    width: 175px;
  }

  /* about section stuff */
  #about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .about-message {
    margin-top: 30px;
  }

  .about-img-and-socials {
    margin-top: 10px;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
  }

  /* projects */
  .projects-container {
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .personal-projects-tiles,
  .class-projects-tiles {
    grid-template-columns: repeat(autofill, minmax(200px, 1fr));
  }

  /* contact */
  #contact{
    margin-top: 30px;
  }
}

/* phone size */
@media (max-width: 480px) {
  /* Home */
  .section-title {
    font-size: 2rem;
  }

  .message-paragraphs {
    max-width: 330px;
  }

  /* Home image */
  .welcome-image img {
    width: 150px;
  }
  /* About image */
  .about-img-and-socials img {
    width: 150px;
  }

  .small-details p {
    font-size: 1rem;
  }

  .personal-projects-tiles,
  .class-projects-tiles {
    grid-template-columns: 1fr;
  }

  /* contact */
  #contact{
    margin-top: 30px;
  }
}
